<div >
    <h2>Name : {{hero.name}}</h2>
    <p>ID : {{hero.id}}&nbsp;&nbsp;Name : {{hero.name}}</p>
    <!-- 使用管道来将英雄的名字变成大写 -->
    <p>ID : {{hero.id}}&nbsp;&nbsp;Name : {{hero.name |  uppercase }}</p>
    <!-- 使用双向数据绑定使用户可以改变hero的name -->
    <label>你可以在这里改变英雄的名字 : </label>
    <input class="herosIuput" name="changename" placeholder="在这里可以改变英雄的名字" [(ngModel)]="hero.name">
    <br>
    <button (click)="goBack()">go back</button>
    <button (click)="saveHero()" class="saveHero">save</button>
</div>
